body{
    background-color: #EAF6F6;
}

hr {
    border-style: dotted none none;
    border-width: 5px;
    width: 5%;
    border-color: grey;
}

h1 {
    color: #171717;
    font-size: 25px;
}

h3 {
    color: #66BFBF;
}